cufflinks==0.17.3
dash==1.14.0
dash-core-components==1.10.2
dash-html-components==1.0.3
dash-renderer==1.6.0
dash-table==4.9.0
Flask==1.1.1
Flask-Compress==1.5.0
geojson==2.5.0
geopandas==0.6.1
geopy==2.0.0
json5==0.8.5
numpy==1.19.1
numpydoc==0.9.1
pandas==1.0.5
pandocfilters==1.4.2
plotly==4.6.0
plotly-geo==1.0.0
py==1.8.0
gunicorn==20.0.4